{{#if item_log}}
    <div id="time-range">
        {{#if start_time}}
            {{#if start_time}}
                From {{start_time}} - {{end_time}}<span id="calendar-edit"><i class="far fa-edit"></i></span>
            {{/if}}
        {{else}}
            All <span id="calendar-edit"><i class="far fa-edit"></i></span>
        {{/if}}
    </div>
    <div id="item-log-scroll-wrapper" class="table-scroll-wrapper">
        <table class="table-container">
            <thead>
                <tr>
                    <th>User</th>
                    <th>Action</th>
                    <th>Name</th>
                    <th>Change</th>
                    <th>Date</th>
                    <th>Details</th>
                </tr>
            </thead>

            <tbody>
                {{#each item_log}}
                    <tr data-id="{{this.id}}">
                        <td>{{this.user__first_name}} {{this.user__last_name}}</td>
                        <td>
                            {{#ifCond operation '==' ''}}
                                {{action}}
                            {{else}}
                                {{operation}}
                            {{/ifCond}}
                        </td>
                        <td>{{item_name}}</td>
                        <td class="number-column">
                            {{#ifCond operation '==' 'Received'}}<span class="plus">+</span>{{/ifCond}}
                            {{#ifCond operation '==' 'Damaged'}}<span class="minus">-</span>{{/ifCond}}
                             {{change}}
                        </td>
                        <td>{{stringDate date}}</td>
                        <td class="details-icon {{#ifCond details.notes "!=" ""}}active tippy" data-title="{{details.notes}}"{{else}}"{{/ifCond}}><i class="fas fa-file-alt"></i></td>
                    </tr>
                {{/each}}
            </tbody>
        </table>
    </div>
{{else}}
    <div id="time-range">
        {{#if start_time}}
            {{#if start_time}}
                From {{start_time}} - {{end_time}}<span id="calendar-edit"><i class="far fa-edit"></i></span>
            {{/if}}
        {{else}}
            All <span id="calendar-edit"><i class="far fa-edit"></i></span>
        {{/if}}
    </div>
    <div id="empty-log-wrapper">
        <span id="empty-log-icon"><i class="fas fa-clipboard-list"></i></span>
        <div id="empty-container"> You have no Item Logs!</div>
    </div>
{{/if}}