<div id="time-range">
    {{#ifCond start_time '==' '*'}}
        All <span id="calendar-edit"><i class="far fa-edit"></i></span>
    {{else}}
        From {{start_time}} - {{end_time}}<span id="calendar-edit"><i class="far fa-edit"></i></span>
    {{/ifCond}}
</div>

<div id="table-scroll-wrapper">
    <table class="table-container">
        <thead>
            <tr>
                {{#ifCond store_length '>' 1}}<th>Store</th>{{/ifCond}}
                <th>Date</th>
                <th>Product</th>
                <th>Qty</th>
                <th>Price</th>
                <th>Subtotal</th>
                <th>Tax</th>
                <th>Discount</th>
                <th>Type</th>
                <th>Total</th>
            </tr>
        </thead>

        <tbody>
            {{#each store.transactions}}
                <tr>
                    {{#ifCond store_length '>' 1}}<td class="name-column">{{../store.name}}</td>{{/ifCond}}
                    <td class="number-column">
                        {{timestamp}}
                    </td>
                    <td class="name-column">
                        {{#each items}}
                            <div class="product_name">{{name}}</div>
                        {{/each}}
                    </td>
                    <td class="number-column">
                        {{#each items}}
                            <div>{{quantity}}</div>
                        {{/each}}
                    </td>
                    <td class="number-column">
                        {{#each items}}
                            <div>{{price}}</div>
                        {{/each}}
                    </td>
                    <td class="number-column">{{subtotal}}</td>
                    <td class="number-column">{{tax}}</td>
                    <td class="number-column"><span class="minus-sign"><i class="fas fa-minus"></i></span>{{discount}}</td>
                    <td>{{payment_type}}</td>
                    <td class="number-column">{{total}}</td>
                </tr>
            {{/each}}
        </tbody>
    </table>
</div>

<div id="total-wrapper">
    <span>Cash: {{ total.cash }}</span>
    <span>Credit: {{ total.credit }}</span>
    <span>Total: {{ total.total }}</span>
</div>